@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html {
    scroll-behavior: smooth !important;
}
    
::-webkit-scrollbar {
    width: 0.5rem;
}
  
::-webkit-scrollbar-thumb {
    background-color: #6565656a;
}
  
.scroll-hide::-webkit-scrollbar {
    display: none;
}

.custom-line-height {
    line-height: 1.2;
}

@media (max-width: 375px) {
    .section-responsiveness {
        padding-top: 5vh;
        height: 120vh;
        overflow-x: hidden;
    }
}

@media (max-width: 663px) and (max-height: 665px) {
    .section-responsiveness{
        padding-top: 5vh;
        height: 120vh;
        overflow-x: hidden;
    }
}